@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron StarWarsJumbo">
    <h1>Welcome to the Tatooine Tech Review!</h1>
    <p>Please select one of our following options from the Navbar above.</p>
    
</div>
